{% extends 'layout.html' %}

{% block header %}
<a href ="{{url_for('index')}}">VOLVER</a>

{% endblock %}

{% block main %}
<h2>hola</h2>
    <form action="/" method="post" class="formulario">
    <input type="text" id="lunes" name="lunes" placeholder="Lunes">    
    <input type="text" id="martes" name="martes" placeholder="Martes">
    <input type="text" id="miercoles" name="miercoles" placeholder="Miercoles">
    <input type="text" id="jueves" name="jueves" placeholder="Jueves">
    <input type="text" id="viernes" name="viernes" placeholder="Viernes">
    <input type="text" id="sabado" name="sabado" placeholder="Sabado">
    <input type="text" id="domingo" name="domingo" placeholder="Domingo">
    <input type="submit" value="Enviar" id="enviar" name="enviar">
    <input type="submit" value="Guardar" id="guardar" name="guardar">
    </form>

{% endblock %}

{% block footer %}

{% endblock %}

