{% extends 'layout.html' %}

{% block header %}

<button href="configuracion.html">CONFIGURACION</button>

{% endblock %}

{% block main %}
<div class="flex-container">

<div class="cajamayor">
    <h2>{{nombreDiaSemana}}</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt at, expedita repudiandae odio tempore cum?</p>
</div>
  
<div class="cajamenor">
    <h2>{{nombrePasadoMañana}}</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt at, expedita repudiandae odio tempore cum?</p>
</div>
</div>

{{array}}  

{% endblock %}


{% block footer %}
{% endblock %}
