{% extends 'layout.html' %}

{% block header %}

<a href = "{{url_for('configuracion')}}">Configuración</a>

{% endblock %}

{% block main %}
<div class="flex-container">


<div class="cajamayor">
    <h2>{{nombreDiaSemana}}</h2>
    <p>{% for i in lectura[0]%}

        {{i}}
        {% endfor %}

    </p>
</div>
  
<div class="cajamenor">
    <h2>{{nombrePasadoMañana}}</h2>
    <p>{% for i in lectura[1]%}

        {{i}}
        <br>
        {% endfor %}</p>
</div>
</div>

{% endblock %}


{% block footer %}
{% endblock %}
