<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario formulario semanal</title>
    <link rel="stylesheet" href="/src/static/css/style.css">
    <link rel="stylesheet" href="/src/static/css/reset.css">

    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">

    <script src="/src/static/js/javascript.js"></script>

    

</head>
<body>

    <div class="nav"><div class="tituloNav"><h1>AGENDA</h1></div></div>


    <!--?  FORMULARIO  -->

<div class="divFormulario">
        <div class="dias">
        <h2>Lunes</h2>
        <h2>Lunes</h2>
        <h2>Lunes</h2>
        <h2>Lunes</h2>
        <h2>Lunes</h2>
        <h2>Lunes</h2>
        </div>
        <div class="linea"></div>
        <form action="/" method="POST" class="formulario">

            <div class="chekbox">
        <div onclick="plastico()" id="plastico" class="label">
           <label  for="lunes">
               <img src="/src/static/img/plastico.svg" width="50" alt="">
               <input type="checkbox" name="lunes" >
            </label>
        </div>
            
        <div  onclick="papel()" id="papel" class="label">
            <label for="lunes">
                <img src="/src/static/img/papel.svg" width="50" alt="">
                <input type="checkbox" name="lunes" >
             </label>
         </div>
               
         <div onclick="cristal()" id="cristal" class="label">
            <label for="lunes">
                <img src="/src/static/img/cristal.svg" width="50" alt="">
                <input type="checkbox" name="lunes" >
             </label>
         </div>

         <div onclick="general()"  id="general" class="label">
            <label for="lunes">
                <img src="/src/static/img/general.svg" width="50" alt="">
                <input type="checkbox" name="lunes" >
             </label>
         </div>

         <div  onclick="organico()" id="organico" class="label">
            <label for="lunes">
                <img src="/src/static/img/organico.svg" width="50" alt="">
                <input type="checkbox" name="lunes" >
             </label>
         </div>

         <div onclick="muebles()" id="muebles" class="label">
            <label for="lunes">
                <img src="/src/static/img/muebles.svg" width="50" alt="">
                <input type="checkbox" name="lunes" >
             </label>
         </div>

           
        </div>
        </form>
    </div>

    



</body>
</html>