<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario formulario semanal</title>
    <link rel="stylesheet" href="/src/static/css/style.css">
    <link rel="stylesheet" href="/src/static/css/reset.css">

    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">

    <script src="/src/static/js/javascript.js"></script>

    

</head>
<body>

    <div class="nav"><div class="tituloNav"><h1>AGENDA</h1></div></div>


    <!--?  FORMULARIO  -->

<div class="divFormulario">
        <div class="dias">
        <h2>Lunes</h2>
        </div>
        <div class="linea"></div>
       
        <form action="/" method="POST" class="formulario">

            <div class="chekbox">

              
            <label id="plastico" onclick="plastico()" for="plasticocheck">
                    <img onclick="plastico()" src="/src/static/img/plastico.svg" width="50" alt="">
                    <input id="plasticocheck" type="checkbox" name="lunes"  value="plastico">
            </label>
            

            
            <label id="cristal" onclick="cristal()"   for="cristalcheck">
                    <img onclick="cristal()" src="/src/static/img/cristal.svg" width="50" alt="">
                    <input id="cristalcheck" type="checkbox" name="lunes"  value="cristal">
            </label>

            <label onclick="papel()" id="papel" for="papelcheck">
                    <img onclick="papel()" src="/src/static/img/papel.svg" width="50" alt="">
                    <input id="papelcheck" type="checkbox" name="lunes"  value="papel">
            </label>

            <label onclick="general()" id="general" for="generalcheck">
                    <img onclick="general()" src="/src/static/img/general.svg" width="50" alt="">
                    <input id="generalcheck" type="checkbox" name="lunes"  value="general">
            </label>

            
            <label  onclick="muebles()" id="muebles" for="mueblescheck">
                    <img onclick="muebles()" src="/src/static/img/muebles.svg" width="50" alt="">
                    <input id="mueblescheck" type="checkbox" name="lunes"  value="muebles">
            </label>
            </div>
        

        <div class="boton"><button >Enviar</button></div>
        
        </form>
    </div>

    



</body>
</html>