<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario formulario semanal</title>
</head>
<body>
    <form action="/" method="post" class="formulario">
    <input type="text" id="lunes" name="lunes">    
    <input type="text" id="martes" name="martes">
    <input type="text" id="miercoles" name="miercoles">
    <input type="text" id="jueves" name="jueves">
    <input type="text" id="viernes" name="viernes">
    <input type="text" id="sabado" name="sabado">
    <input type="text" id="domingo" name="domingo">
    <input type="submit" value="Enviar" id="enviar" name="enviar">

    </form>
</body>
</html>