

.flex-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
  
.flex-container > div {
    background-color: #f1f1f1;
    width: 100%;
    margin: 2em;
  }

.cajamayor{
    flex: 50%;
}

.cajamenor{
    flex: 10%;
}